branca>=0.8.2
consolekit>=1.13.0
domdf-folium-tools>=0.1.0b33
domdf-python-tools>=3.10.0
folium>=0.20.0
folium-about-button>=0.2.0
folium-map-search @ git+https://github.com/domdfcoding/folium-map-search
folium-zoom-state>=0.1.0
nhle-map @ git+https://github.com/domdfcoding/nhle-map
requests>=2.33.1
