{% extends "map.jinja2" %}

{% block about_dialog %}
    <div class="modal fade modal-lg"
            id="aboutModal"
            tabindex="-1"
            aria-labelledby="aboutModalLabel"
            aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="aboutModalLabel">About</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {# TODO: render from markdown file #}
                    <p>{{ description | safe }}</p>

                    <p>
                        Powered by <code>nhle-map</code>, available on GitHub at <a href="https://github.com/domdfcoding/nhle-map"><code>github.com/domdfcoding/nhle-map</code></a>
                    </p>
                    {# TODO: collapse copyright section on small viewports? #}
                    <p>
                        Uses data downloaded from <a href="https://www.data.gouv.fr/datasets/immeubles-proteges-au-titre-des-monuments-historiques-2"><code>data.gouv.fr</code></a>.
                        <br>
                        Licenced under the <a href="https://www.etalab.gouv.fr/licence-ouverte-open-licence">Licence Ouverte / Open Licence version 2.0</a>
                        <br>
                        © Monuments historiques {{ most_recent_modification.year }}.
                    </p>

                    {% if layers %}
                        <h3 class="fs-6">Legend</h3>

                        <table class="table table-striped legend" id="legendTable">
                            <thead>
                            </thead>
                            <tbody>
                                {% for layer in layers %}
                                    <tr>
                                        <th class="text-center"
                                            style="background-color: {{ layer.icon.marker_colour }}"
                                            scope="row">{{ layer.icon.layercontrol_icon }}</th>
                                        <td class="layer-name">{{ layer.name }}</td>
                                        <td class="layer-description">
                                            {% set description = None -%}
                                            {% if layer.geojson_filename_stem -%}
                                                {% set description = format_description(layers_data[layer.geojson_filename_stem]["description"]) -%}
                                                {% if description -%}
                                                    <div class="container description-container">
                                                        <p class="collapse description-collapse"
                                                            id="{{ layer.variable_prefix }}Collapse"
                                                            data-bs-parent="#legendTable"
                                                            aria-expanded="false">{{ description }}</p>
                                                    </div>
                                                {% endif %}
                                            {% endif -%}
                                        </td>
                                        <td class="expand-btn">
                                            {% if description -%}
                                                <div>
                                                    <a role="button"
                                                        class="collapsed description-btn"
                                                        data-bs-toggle="collapse"
                                                        href="#{{ layer.variable_prefix }}Collapse"
                                                        aria-expanded="false"
                                                        aria-controls="{{ layer.variable_prefix }}Collapse"></a>
                                                </div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                    <small class="text-muted">Generated on {{ format_datetime(generated_date) }}. Data last updated {{ format_datetime(most_recent_modification) }}</small>

                </div>
            </div>
        </div>
    </div>
{% endblock about_dialog %}

{% block attribution %}
    {# TODO: hyperlink #}
    map.attributionControl.setPrefix(`<a target="_blank" href="https://leafletjs.com" title="A JavaScript library for interactive maps">🇺🇦 Leaflet</a> | Data © Monuments historiques {{ most_recent_modification.year }} (Open Licence 2.0)`)
{% endblock attribution %}
